/* CSS Document */

.traceLogo{
	margin-bottom: 20px;
	}

body{
background-image:url(../img/Background.png);
background-repeat:repeat;	
	}

/*Search Bar*/
.span12.hero-unit h3 {
text-align: center;
font-size: 43px;
line-height: 34px;
letter-spacing: 0.5px;
}

.span12.hero-unit p {
text-align: center;
font-size: 26px;
line-height: 34px;
letter-spacing: 0.5px;
padding-top: 5px;
margin-bottom: 11px;
}

#searchBar{
	height: 50px;
	}
#mid {
	padding-top:10px;
	padding-left: 130px;
	padding-bottom:20px;
	}

/*Bottom Links*/
.popular-block {
/*overflow: hidden;*/
margin: 0 0 33px;
padding: 26px 24px 0;
display:inline;
}

.popular-block h5{
	text-align:center;
	margin-left: 42px;
	}

.popular-block ul {
float: left;
margin: 0 auto;
padding: 0 39px;
width: 198px;
list-style: none;
}

.popular-block ul li {
padding: 0 0 6px;
width: 100%;
text-align: center;
}


.popular-block ul li a {
color: #93BADA;
}




	
.agent_test{
	height: 85px;
	
	margin-right: 0px;
	margin-left: 6px;
	float: right;
	
	}
	
#resx {
margin-left: 20px;
}




.buttPush{
	display: inline;
	margin: 20px 30px;
	}
	
	
	
	
<!--User Login Section-->	
#sessions .section-module, #registrations .section-module, #passwords .section-module, #authentication .section-module,#net_promoter .section-module {
margin-bottom: 20px;
}

.social_logins {
width: 90%;
margin: 0 auto;
text-align: center;
}


.social_logins h3 {
margin-top: 30px;
margin-bottom: 20px;
}

.wrapper {
padding: 0 5.034%;
margin: 0 auto;
}

#sessions .login_box, #registrations .login_box, #passwords .login_box, #authentication .login_box, #net_promoter .login_box {
width: 100%;
float: left;
}

.social_logins {
width: 90%;
margin: 0 auto;
text-align: center;
}

.social_logins .g-button {
white-space: nowrap;
width: 30%;
display: inline-block;
margin: 5px 1% 5px 1%;
padding: 5px 0;
min-width: 200px;
background-color: pink;
border-radius: 3px;
}

.social_login_text {
margin: 20px auto;
width: 65%;
font-size: 0.875em;
text-align: center;
color: #333;
}

 .login_box .center {
text-align: center;
}

.social_logins .login_button.twitter {
background-position: 10px -93px;
margin-top: 5px;
}

.social_logins .login_button.facebook {
background-position: 10px -47px;
margin-top: 5px;
}

.social_logins .login_button 
{
text-align: left;
line-height: 1.7em;
font-size: 14px;
padding: 6px 0 12px 50px;
background:url(../img/sprite-providers.png) no-repeat 10px 3px;
margin-top: 5px;
}


{
border-top: 1px solid #F2F3F4;
margin: 20px 0 0 0;
padding: 20px 0;
font-size: 0.875em;
}

.profilePic {
	float: right;
	width: 80px;
	height: 80px;
	padding-right: 6px;
	margin-top: -35px;
	padding-bottom: 4px;
	}




/*div#move {
	width: 100%;
	margin: 0 auto;
	}*/